@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

/*Body-------------------------------------------------------------------*/
body {
    font-family: "Source Sans Pro", sans-serif;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    overflow-x: hidden
}

h1 {
	font-size: 50px;
	font-weight: 600;
    padding-top: 30px;
}

a:hover{
    text-decoration: none;
}

/*Content*/
.content {
    background-color: #EAF2E4;
    text-align: center;
    height: 100%;
    padding-bottom: 20px;
}

/*Header*/
header {
    background-color: #4087B4;
    border: solid 1px #707070;
    border-radius: 0 0 125px 125px;
}

#logo {
    height: 147px;
    width: 100px;
}

.navbar {
    background-color: transparent !important;
    margin: 75px 0 auto;
}
.nav-list {
    margin: 0 auto;
}

.nav-list {
    font-size: 30px;
    font-weight: 600;
}

.shopping {
    font-size: 60px;
    margin: 50px 0 auto;
}

/*Footer*/
footer {
    background-color: #2C3D36;
    width: 100%;
    color: #707070;
    padding: 15px;
}
footer a {
    color: #707070; 
}

.footer-e {
    padding: 5px;
}

.ngb-logo {
    height: 50px;
    width: auto;
    margin-top: 5px; 
}

.social {
    margin: 5px;
    align-items: center;
    font-size: 25px;
    
}

/*index.html--------------------------------------------------------------*/

/*Hero img*/
#hero {
    width: 100%;
}

.hero-c {
    padding: 0;
}

/* About Us*/
.about {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.about-t {
    font-size: 30px;
}

.about-c {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 10px;
}

#team {
    height: 75%;
    width: auto;
    margin: 0 auto;
    margin-top: 50px;
}

/*activites.html----------------------------------------------------*/
.activity-c {
    background-color: #629460; 
    margin: 20px;
    padding: 10px;
    border: solid 2px #707070
}

.activity-i {
    width: 100%;
    margin-top: 10px;
}

.activity-t {
    text-decoration: none;
    padding: 5px;
    border: solid 5px #707070;
    margin-top: 5px;
    margin-bottom: 0px;
    background: #dcca98; 
    color: #2C3D36;
    font-weight: 600;
}

.table {
    margin: 0 auto
}

/*booking.html----------------------------------------------------*/
.date {
     margin: 10px auto;

}

.slot {
    border: solid 1px #707070;
    margin: 10px auto;
    width: 50%;
}

.slot:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.slot-sm {
    border: solid 1px #707070;
    margin: 10px auto;
    width: 10%;
}

.slot-sm:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

#slot-b {
    background: #ff0000;
}

#slot-s {
    background: #FD6A02;
}

#slot-a {
    background: #008000;
}

/* Modal*/
.modal-header {
    background-color: #4087B4;
    border: solid 1px #707070;
}

.modal-title {
 font-weight: 600;
}

.modal-content {
    background-color: #dcca98
}

.modal-footer {
    background-color: #2C3D36;
}

.md-label {
    font-weight: 600;
}


/*contact.html----------------------------------------------------*/

.contact-f {
    padding: 30px 50px 20px 50px;
    margin-bottom: 80px;
    font-family: "Roboto", sans-serif;
    text-align: left;
    background-color:  #629460;
    border-radius: 7%;
    border: 5px #2C3D36 solid;
}

.form-control {
    background: #dcca98;
    border: solid 1px #707070;
}

.submit {
    width: 100%;
    background-color: #4087B4;
}

.submit:hover {
    background-color: #1c7191;
}

/*Activities, e.g climbing.html----------------------------------------------------*/
.book-b {
    background-color: #629460;
    border: 2.5px #2C3D36 solid;
   
}
.book-t {
     color: #fafafa;
}

